<h1 style="text-align: center">Aerodromo!</h1>

<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
  <label>Aeroporto de Origem:</label>
  <br />
  <select
    formControlName="controlAeroportosOrigem"
    class="form-control-origem"
    type="Aeroporto"    
  >
    <option  *ngFor="let aeroOrigem of aeroPortos" [value]="aeroOrigem.Nome">
      {{ aeroOrigem.Nome }}
    </option>
  </select>

  <br/>
  <label>Aeroporto de Destino:</label>
  <br/>
  <select
    formControlName="controlAeroportosDestino"
    class="form-control-destino"
    type="Aeroporto"
  >
    <option  *ngFor="let aeroDestino of aeroPortos" [value]="aeroDestino.Nome">
      {{ aeroDestino.Nome }}
    </option>
</select>
<br/>
<br/>
<button type="submit">Submit</button>
</form>

<div class="div-calculo" style="text-align: center">
  <h1 style="text-align: center">Cálculo de distâncias</h1>
  <h2>Distancia entre {{AeroOrigem}} e {{AeroDestino}} {{ GetCoordenadasTempoEmGraus }} Km</h2>
</div>

